/* Designed by ZanuZoss, coded by ZanuZoss */

@font-face {
    font-family: 'RethinkSans';
    src: url('Media/RethinkSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Monaco';
    src: url('Media/Monaco.ttf') format('truetype');
} 

html {
    background-color: #171717;
    /* overflow: hidden; */
}

.zanuzoss {
    margin: 35px 0 0 40px;
    width: 79px;
    height: 78.31px;
}

#options {
    margin: 8% 0 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: calc(100%);
}

.option {
    text-decoration: none;
    box-shadow: 0;
    transition: box-shadow 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #282828;
    border-radius: 15px;
    width: 550px;
    height: 350px;
}

a, ab, .coffee {
    font-size: 15px;
    color: #4d4d4d;
    font-family: 'RethinkSans';
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

h1 {
    display: flex;
    font-size: 30px;
    color: #ffffff;
    font-family: 'RethinkSans';
    font-weight: bolder;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

ab {
    font-weight: bolder;
    font-style: normal;
}

.bottom {
    text-align: center;
    margin: 12% 0 0 0;
}

.coffee {
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}

.coffee:hover {
    text-decoration: underline;
}

.folder, .nexticon {
    width: auto;
    height: 20px;
    margin: 63px 0 0 25px;
    vertical-align: middle;
}

.nexticon {
    height: 30px;
    margin: 59px 0 0 25px;
}

.top {
    display: flex;
}

.maindir {
    margin: 54px 0 0 25px;
}

.icon {
    margin: 30px 0 0 30px;
    width: 86px;
    height: auto;
}

.title {
    margin: 130px 0 0 30px;
}

.description {
    margin: -3px 0 0 30px;
}

h2 {
    font-size: 22px;
    color: #4d4d4d;
    font-family: 'RethinkSans';
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

.option:hover {
    box-shadow: 0 0 10px rgb(167, 167, 167);
}

.cdback {
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    margin: 55px 0 0 35px;
}

.cdback:hover {
    color: #ffffff;
}

.middle {
    align-items: center;
    text-align: center;
    margin: 35px 0 0 0;
}

#options-mini {
    margin: 8% 0 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 50px;
    width: calc(100% - 100px);
}

.option-mini {
    overflow: hidden;
    text-decoration: none;
    text-align: left;
    box-shadow: 0;
    display: flex;
    transition: box-shadow 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #282828;
    border-radius: 15px;
    width: 100%;
    height: 80px;
}

.option-mini:hover {
    box-shadow: 0 0 10px rgb(167, 167, 167);
}

.icon-mini {
    display: block;
    margin: 8px 0 0 10px;
    width: 64px;
    height: 64px;
}

.title-mini {
    margin: 24px 0 0 20px;
    font-size: 25px;
}

.zanufetch {
    opacity: 0;
}

.commandline, h3, h3b {
    margin: 150px 0 0 65px;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Monaco';
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

h3, .fetchicon {
    display: inline;
    margin: 5px 0 0 0;
    white-space: pre;
}

h3b {
    display: inline;
    font-weight: bold;
    color: green;
}

.fetchicon {
    margin: 0 0 0 65px;
    color: greenyellow;
}

.links {
    color: #4d4d4d;
    font-size: 25px;
    font-family: 'Monaco';
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    text-decoration: none;
}

.links:hover {
    color: #ffffff;
}

@media (max-width: 1000px) {
    .fetchicon {
      display: none;
    }

    .commandline {
        margin: 150px 0 0 10px;
        font-size: 18px;
    }

    h3b {
        font-size: 18px;
        margin: 0 0 0 10px;
    }

    h3, .links {
        font-size: 18px;
    }
  }